@model List<Post>

@{
    ViewData["Title"] = "Todos los Posts";
}

<div class="container">
    <h1 class="my-4">@ViewData["Title"]</h1>
    
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@post.title</h5>
                        <p class="card-text">@post.body.Substring(0, Math.Min(post.body.Length, 100))...</p>
                        <a href="@Url.Action("Details", new { id = post.id })" class="btn btn-primary">Ver más</a>
                    </div>
                    <div class="card-footer bg-transparent">
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    
}